@import '../../../styles/base/_variables';

.tileCont{
  border: 1px solid $disabled-2;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover{
    border-color: $theme;
  }
}

.repoImg{
  height: 150px;
  width: 150px;

  img {
    max-height: 90%;
    max-width: 90%;
  }
}

