@import  '../../styles/base/_variables';

.userCont{
  border: 1px solid $disabled-2;
}

.userImg{
  width: 100px;
  height: 100px;
  margin-right: 20px;

  img{
    max-height: 90%;
    max-width: 90%;
  }
}
